
{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% block content %}
{{ block.super }}

<div class="container-fluid home-content" style="position:relative; top: -10px; background-color: black">
        <h5 style="color:#ffffff;position: relative; padding-top: 100px; font-size: 20px;">Site of the day {{date|date:"l d-F Y"}}</h5>
        <a href="https://galla.herokuapp.com/" class="btn btn-primary" style="color:white;background-color: #42AB9E;position: relative; top: 360px; left: 5px;">Visit Site</a>

        <a href="#" class="btn btn-outline-primary" style="color:white; position: relative; top: 360px; left: 10px;;">Interact</a>
        <a href="#" class="btn btn-outline-primary" style="color:white;position: relative; top: 360px;left: 15px;">Collect</a>
        <section class="sect">
            <div>
                <div class="box-piesite">
                    <ul>
                        <li class="design">
                            <div class="piesite" id="pie_0" data-pie="2.04"></div>
                            <br>
                            <p style="color:white;font-size: 12px;">DESIGN</p>
                        </li>
                        <li class="usability">
                            <div class="piesite" id="pie_2" data-pie="5.02"></div>
                            <br>
                            <p style="color:white;font-size: 12px;">USABILITY</p>
                        </li>
    
                        <li class="creativity">
                            <div class="piesite" id="pie_1" data-pie="2.04"></div>
                            <br>
                            <p style="color:white;font-size: 12px;">CREATIVITY</p>
                        </li>
                        <li class="total">
                            <div class="piesite" id="pie_3" data-pie="6.43"></div>
                            <br>
                            <p style="color:white;font-size: 12px;">TOTAL</p>
                        </li>
                    </ul>
                </div>
            </div>
    
        </section>
    </div>
    <h2 style="position: relative;;bottom:530px; color:white; float :right; right: 650px; padding-top: 80px;"> Personal Gallary by: {{user.username}}  </h2>


<div id="landing-img" class=" d-flex align-items-start" >
        <img style="width:100%; height:600px; top:-50px;position: relative;    
        "class="w-100 d-flex align-self-center; " src="/" alt="">
    </div>

<div class="container-fluid" id="pro" style="padding:50px; font-size: 50px">
        <h5 style="font-size:25px; top:-500px; position: relative"><strong>Nominees</strong> We need your vote!</h5>
                <div class="row">
                        {% for data in project %}
                
                        <div class="col-md-4" id="data" style="padding-bottom:20px; width:100px; height:650px;top: -450px; position: relative" >

                            <div class="hovereffect">

                                <img class="img-responsive" src="{{data.image.url}}" alt="Card image cap" >
                                <div class="overlay">
                                    <a class="info" href="{% url 'vote' data.pk %}" style="font-size:25px;">VOTE NOW</a>
                                </div>

                            </div>
                            <div class="card-header">
                            <h1 class="card-title" style="position:relative; top:-20px;">{{data.project_name}}</h1>

                            <h2 style="position:relative;top:-115px">{{data.detailed_description}}</h2>

                                <small class="text-muted" style="font-size:15px; position:relative;bottom:30px;right: 5px;" > Posted {{data.pub_date|timesince}} ago by: <strong>{{data.profile.user.username}}</small></strong>

                                <a href="{{data.project_url}}" class="card-text" target="blank">
                                <buttton class="btn btn-outline-primary" style="position:relative;top:-70px; right:280px; font-size:15px;" >Visit site</button>
                                </a>
                            </div>
                            <div class="card-footer">
                                    <a href="/">
                                        <div class="row">
                                            <div class="">
                                                {% if data.profile.Profile_pic %}
                                                    style="border-radius: 50%; margin-left: 10px;" class="img-responsive">
   
                                                {% endif %}
                                            </div>


                                            <div class="col-md-2" style="color:black;font-size: 10px;font-weight: bold;">
                                            </div>
                                        </div>
                                    </a>
                            </div>
                        </div>
                
                        {% endfor %}
                    </div>
                </div>
                {% endblock %}
                